#mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 28px 0;
  color: #333333;
  width: 100%;
  align-items: center;
}

.postCard {
  color: #333333;
  max-width: 800px;
  text-decoration: none;
}

.postTitle {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.postAuthor {
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
}

.postContent {
  font-weight: 400;
  font-size: 16px;
  margin: 20px 0;
}

.postLink {
  display: block;
  text-align: right;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.8rem;
}
.Comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* Mobile */
@media (max-width: 700px) {
  .postTitle {
    line-height: 27.5px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .postAuthor {
    line-height: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .postContent {
    line-height: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .postCard {
    padding: 0 16px;
  }
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .postTitle {
    line-height: 27.5px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .postAuthor {
    line-height: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .postContent {
    line-height: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}
