#headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}

/* Mobile */
@media (max-width: 700px) {
  #headerContainer {
    padding: 0 36px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
