#mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postCard {
  margin: 58px 0;
  color: #333333;
  max-width: 800px;
}

.postTitle {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}

.postAuthor {
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
}

.postContent {
  font-weight: 400;
  font-size: 16px;
  margin: 20px 0;
}

.postLink {
display: block;
text-align: right;
cursor: pointer;
font-weight: 700;
font-size: 0.8rem;
}
/* Mobile */
@media (max-width: 700px) {
  .main {
  }

  .postCard {
  }

  .title {
    line-height: 27.5px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .author {
    line-height: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .text {
    line-height: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .postLink {

  }
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
  }

  .postCard {
  }

  .title {
    line-height: 27.5px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .author {
    line-height: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .text {
    line-height: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .postLink {

  }
}
